*.*~
*.bak
qrun.log
greybox_tmp/
.qsys_edit/
doc/vendor/
tb/uvm/builds/
tb/uvm/cov/
tb/uvm/transcript
tb/uvm/tr_db.log
tb/phy_gate/work/
tb/phy_gate/log/
tb/phy_gate/transcript
syn/quartus/db/
syn/quartus/incremental_db/
syn/quartus/output_files/
syn/quartus/simulation/
syn/quartus/*.qws
syn/quartus/*.smsg
syn/quartus/a5_pin_model_dump.txt
syn/quartus/transcript
